.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  padding: 10px;
}
.head {
  color: black;
  font-size: 28px;
  font-weight: 900;
  padding: 10px;
}
.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.para {
  color: blue;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}
.button {
  height: 45px;
  width: 135px;
  border-radius: 14px;
  background-color: aqua;
  font-weight: 500;
}
.card {
  margin: 20px;
  box-shadow: 5px 10px #fff;
  width: 70%;
  height: 600px;
}
